*{
  /* border: red 1px solid; */
  font-family: 'Roboto', sans-serif;
}
/* creates container item with color */
#main-container{
  background-color: #003236;
  height: auto;
  min-height: 100vh;
  display: flex;
}
/* sidebar css start including color and hover changes */
.sidebar-color{
  color: white;
}
#sidebar-items-list{
  color: white;
  list-style-type: none;
  font-weight: 500;
  line-height: 30px;
  padding: 27px 0px 0px 0px;
  margin: 0px;
}
.sidebar-item-icon{
  margin-left: -15px;
  margin-right: 15px;
  padding-top: 7px;
  border-radius: 100%;
  font-size: 15px;
  height: 30px;
  width: 30px;
  background: white;
  color: #003236;
  text-align: center;
  line-height: 10px;
  box-shadow: 0px 0px 10px Gray;
}
#sidebar-items-list > li.title{
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  padding: 15px;
  padding-left: 30px;
  display: flex;
}
#sidebar-items-list > li.title:hover, 
.sidebar-color:hover{
  color: #00909B;
  background-color: white;
  font-weight: 900;
  transition: .4s;
  text-decoration: none;
}
#sidebar-items-list > li.title:hover .sidebar-item-icon{
  color: white;
  background-color: #00909B;
  box-shadow: 0px 0px 5px #00909B;
}
.sort{
  color: white;
  list-style-type: none;
  padding-left: 80px;
  font-size: 16px;
  margin-left: -60px;
}
.sort:hover{
  color: #00909B
  text-decoration: underline;
  background-color: #00909B;
  font-weight: 700;
  transition: .4s;
}
/* end of sidebar css */
/* top of main page css start */
#title-logo{
  color: Silver;
  font-weight: 700;
  font-size: 20px;
}
#top-bar-with-search{
  display: flex;
  justify-content: space-between;
}
#hamburger-icon{
  background-color: white;
  border: none;
  display: none;
}
#top-bar-search-bar{
  background-color: white;
  border-radius: 10px;
  border: solid 1px rgba(192,192,192, .3);
  border-width: 2px;
  height: 40px;
  width: 400px;
  display: flex;
  font-size: 12px;
  margin: 0px 0px 20px 0px;
}
#game-form{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#search-btn{
  border: none;
  background-color: white;
}
.search-input{
  width: 100%;
  border: none;
}
.search-input::-webkit-input-placeholder {
  color: silver;
}
#search-bar-icon{
  color: rgba(192,192,192, .3);
  font-size: 15px;
}
#mainpage{
  background-color: white;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  border-color: white;
  padding: 40px;
  height: fit-content;
}
/* end of top part of mainpage css */
/* all deal of the day css start */
#store-deal-of-the-day{
  background-color: #8AF6FF;
  height: fit-content;
  border-radius: 20px;
  padding: 30px 30px 15px;
  border: none;
  box-shadow: 0px 0px 3px Gray;
}
#store-deal-heading{
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
}
#deal-of-the-day{
  background-color: #8AF6FF;
  height: 170px;
  border-radius: 20px;
  padding: 30px;
  border: none;
  box-shadow: 0px 0px 3px Gray;
}
#adv-deal-of-the-day{
  background-color: white;
  height: 150px;
  border: none;
}
#deal-heading{
  font-weight: 900;
  font-size: 30px;
  line-height: 20px;
}
/* end of deal of the day css */
/* search forms and checkboxes start */
#advanced-search-container{
  width: 100%;
  height: fit-content;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  line-height: 10px;
  padding: 25px;
  border: none;
  box-shadow: 0px 0px 10px Silver;
  align-items: center;
  justify-content: space-between;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{
  height: 20px;
  margin: 0px;
  margin-left: -30px;
}
#title-checkboxes{
  display: flex;
}
.checkbox-container{
  padding: 0px;
  margin: 16px -10px;
}
.checkbox-label{
  width: 230px;
  margin: 0px;
  margin-left: -30px;
}
#advanced-sort-by{
  width: 170px;
  height: 40px;
  padding: 10px;
}
#homepage-search{
  width: 90%;
  height: 110px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  line-height: 10px;
  padding: 15px 10px;
  padding-right: 25px;
  border: none;
  box-shadow: 0px 0px 10px Silver;
  align-items: center;
  justify-content: space-between;
}
/* search forms and checkboxes end */
#sidebar{
  border: white solid 1px;
}
/* media queries to make it responsive start */
@media only screen and (max-width: 1100px) {
  #sidebar.active{
    width: 250px;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #003236;
    height: inherit;
  }
  #hamburger-icon{
    display: block;
  }
  #sidebar{
    display: none;
  }
}
@media only screen and (min-width: 1100px) {
  #sidebar{
    width: 20%;
    display: block;
  }
}
.form-width{
  width: 100%;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  #homepage-search{
    padding: 0px;
    height: 300px;
    line-height: 0px;
    margin-top: -310px;
  }
  #advanced-search-container{
    padding: 15px 10px;
    line-height: 0px;
    margin-top: -310px;
    align-items: center;
    justify-content: space-between;
  }
  #advanced-top-row{
    margin-bottom: 50px;
  }
  #filter-label{
    margin-top: 50px;
  }
  #min-metacritic-rating{
    margin-top: 40px;
  }
  .form-group{
    height: 40px;
  }
  #center-button{
    display: flex;
    justify-content: center;
  }
  #deal-of-the-day{
    height: 380px;
  }
  #adv-deal-of-the-day{
    height: 360px;

  }
  #page-label{
    display: none;
  }
  #results-label{
    display: none;
  }
}
/* media queries to make it responsive end */

.form-group{
  margin-top: 15px;
}
.form-group input{
  width: 100%;
  border: solid 1px rgba(192,192,192, .3);
  border-width: 1px;
  height: 35px;
}
.homepage-search-btn{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 22px;
  color: white;
  background-color: #00909B;
  border: none;
}
#adv-search-btn{
  margin: 30px 15% 10px;
  width: 70%;
}
.homepage-search-btn:hover{
  box-shadow: 0px 0px 5px #00909B;
}
#cards{
  margin-top: 50px;
  height: 180px;
}
.card-container{
  height: 100%;
  border-radius: 20px;
  border: solid 1px rgba(192,192,192, .3);
  border-width: 2px;
  padding: 25px;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.game-title{
  font-size: 16px;
  font-weight: 900;
}
.form-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.results {
  margin-top: 20px;
  margin-bottom: 20px;
}
#page-results{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.page-results-buttons{
  background-color: #00909B;
  border-radius: 30px;
  padding: 5px 15px;
  border: none;
  color: white;
  font-weight: 400;
}
.page-results-buttons:hover{
  box-shadow: 0px 0px 5px #00909B;
  font-weight: 500;
}
#prev-deal {
  margin: 0px;
  display: none;
}
#next-deal {
  margin: 0px;
  display: none; /*keeps the button from being pressed when there's no table*/
}
@media only screen and (max-width: 600px) {
  .page-results-buttons{
    background-color: #00909B;
    border-radius: 30px;
    padding: 5px 5px;
    line-height: normal;
  }
  #mainpage{
    padding: 20px;
  }
}
#page-label {
}
#skip {
  display: none;
}
/* css for tables? */
#deal-table {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(192,192,192, 1);
  display: block;
  padding: 0px;
  width: 850px;
}
@media only screen and (min-width: 1000px) {
  #deal-table {
    width: auto;
  }
  #deal-table th:nth-child(1){
    width: 50%;
  }
  #deal-table th:nth-child(6){
    width: 15%;
  }
  #deal-table th:nth-child(2), #deal-table th:nth-child(3),
  #deal-table th:nth-child(4), #deal-table th:nth-child(5), #deal-table th:nth-child(7){
    width: 9%;
  }
}
@media only screen and (max-width: 1000px) {
  #deal-table {
    width: 850px;
  }
  #deal-table th:nth-child(1){
    width: 50%;
  }
  #deal-table th:nth-child(6){
    width: 15%;
  }
  #deal-table th:nth-child(2), #deal-table th:nth-child(3),
  #deal-table th:nth-child(4), #deal-table th:nth-child(5), #deal-table th:nth-child(7){
    width: 9%;
  }
}
#deal-table th{
  background-color: #8AF6FF;
  font-weight: 900;
  padding: 10px;
  line-height: 30px;
}

#deal-table tr{
  border: solid 1px rgba(192,192,192, .3);
  line-height: 50px;
  transition: .3s;  /*~fancy*/
}
#deal-table tr:nth-child(1):hover{
  color: black;
}
#deal-table tr:hover {
  background-color: #00909B;
  color: white;
}
#deal-table td{
  padding: 0px 10px;
}
#popupContainer{
  display: flex;
  position: fixed;
  top: 40%;
  right: 50%;
  justify-content: center;
}
#popup{
  position: absolute;
  width: 335px;
  height: fit-content;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 20px Silver;
  -ms-transform: translateY(-50%);
transform: translateY(-50%);
  background-color: white;
  z-index: 1;
}
#exitPopupContainer{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
#exitPopup{
  font-size: 25px;
  border: none;
  background-color: white;
  margin-top: -10px;
}
#popup-thumbnail{
  background-color: black;
  height: 100px;
  width: 100%;
}
#popup-title{
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.popup-details{
  font-size: 18px;
  text-align: center;
  line-height: 15px;
}
#popup-button{
  width: 80%;
  position: relative;
  right: 10%;
  left: 10%;
  height: 60px;
  border-radius: 60px;
  border: none;
  background-color: #00909B;
  color: white;
}
